include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title iGEM UNILA_LatAm
  body
    include templates/nav.pug
    header.d-flex.justify-content-center.align-items-center
    <div>
      <div id="test">
        <img id="basd" src="https://2021.igem.org/wiki/images/6/65/T--UNILA_LatAm--Home02.png" style="background-repeat: no-repeat !important; background-size:100% 100% !important";>
      </div>
    </div>
    <div class="btn-wrap" id="test">
        <img id="back2" src="https://2021.igem.org/wiki/images/f/f1/T--UNILA_LatAM--H32.png">
        <button class="butt butt2 col-3 col-s-12" onclick="location.href='https://2021.igem.org/Team:UNILA_LatAm/Description'"; type="button">READ MORE</button>
    </div>
      <div class="btn-wrap" id="test">
        <img id="baca" src="https://2021.igem.org/wiki/images/8/8a/T--UNILA_LatAm--Home04.png">
        <label id="texto">In addition, we will work to raise awareness
        <br> among the population and create strategies <br>for monitoring and preventing athe disease.</label>
        <button class="butt butt2" onclick="location.href='https://2021.igem.org/Team:UNILA_LatAm/Human_Practices'"; type="button" style="top:50% !important; left:82% !important";>
        |Human Practices</button>
      </div>
      <div class="btn-wrap" id="test">
        <img id="bacw" src="https://2021.igem.org/wiki/images/8/8c/T--UNILA_LatAm--Home05.png">
        <label id="texto2">WE WANT TO TRANSFORM <br>THE SCENE OF VISCERAL LEISHMAYOSIS</label>
        <button class="butt butt2" onclick="location.href='https://2021.igem.org/Team:UNILA_LatAm/Team'"; type="button" style="top:66% !important; left:45% !important; font-size:20px !important";>
        | KNOW THE TEAM</button>
      </div>
    </div>
    include templates/footer.pug
